<div class="page-header" ng-if="country">
    <h1>Phone number for a country {{ country.name }}</h1>
</div>

<div class="alert alert-danger" ng-if="errors">
    <ul>
        <li ng-repeat="error in errors">{{ error }}</li>
    </ul>
</div>

<div ng-if="showPurchasingForm">
    <div class="alert alert-info" role="alert">
        Unfortunatelly we don't have any numbers in {{ country.name }} yet.
        But we can buy some.
    </div>

    <form class="form-horizontal" ng-submit="submit()">

        <label>
            List of available phonenumbers
            <select class="form-control" ng-model="phonenumber.value" ng-options="number for number in phonenumber.options" ga-phonenumbers-options="" data-options="phonenumber.options" options="phonenumber.options">
                <option value=""> - Select - </option>
            </select>
        </label>

        <button type="submit" class="btn btn-primary">Buy number</button>
    </form>
</div>

<div ng-if="!showPurchasingForm">
    <div class="list-group">
        <li class="list-group-item">{{ currentNumber }}</li>
    </div>
</div>
